<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxdedu.dao.CourseDao">
<select id="getAllCourse" resultType="Course">
	select courseName ,courseId from course order by courseId
</select>
<select id="getCourseByCourseId" resultType="Course">
select * from course where courseId=#{courseid}
</select>
</mapper>