<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxdedu.dao.StudentDao">
	<select id="getStuRowNum" resultMap="Integer">
		select count(*) from Student
	</select>
	<select id="getSubStudent" resultMap="Student">
		<![CDATA[
			select * from (
				select rownum r,t.* from (
					select * from Student order by stuid desc) t 
				where rownum<#{1}) 
			where r>#{0}
		]]>
	</select>
</mapper>