<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxdedu.dao.UserDao">
 	
 
 	<!-- 查询; 获取所有记录 -->
	<select id="getUserByNameAndPassword" resultType="User">
		select * 
		from users
		where username=#{userName} and pwd=#{pwd}
	</select>
	<select id="getUserByName" resultType="int">
	select userId from users where username=#{username}
	</select>
</mapper>